<div class="well">
  <p><strong>My Trello info:</strong><br>
  <strong>Username:</strong>
  <%= @me.username %><br>  
  <strong>Full name:</strong>
  <%= @me.full_name %><br>
  <strong>Email:</strong>
  <%= @me.email %><br>
  <button class="btn btn-xs btn-primary" type="button" data-toggle="collapse" data-target="#trelloBoards" aria-expanded="false" aria-controls="trelloBoards">
    My boards
  </button>
  <div class="collapse" id="trelloBoards">
    <div class="well">
      <% @me.boards.each do |board| %>
        <%= link_to board.name, board.url %><br>
      <% end %>
    </div>
  </div>
  <button class="btn btn-xs btn-primary" type="button" data-toggle="collapse" data-target="#trelloCards" aria-expanded="false" aria-controls="trelloCards">
    My cards
  </button>
  <div class="collapse" id="trelloCards">
    <div class="well">
      <% @me.cards.each do |card| %>
        <%= link_to card.name, card.url %><br>
      <% end %>
    </div>
  </div>
    
  </p>
</div>