<%= form_for([current_user, @vacation]) do |f| %>
  <% if @vacation.errors.any? %>
    <div class="error_explanation">
      <ul>
      <% @vacation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-inputs">
    Start date:
    <%= f.date_select :start_date, order: [:day, :month, :year] %><br>
    End date:
    <%= f.date_select :end_date, order: [:day, :month, :year] %><br>
    <%= f.hidden_field :status, value: 'pending' %>
    <%= f.submit "Request a vacation" %> 
  </div> 
<% end %>