<%= form_for [:admin, :user, @timelog] do |f| %>
  <% if @timelog.errors.any? %>
    <div class="error_explanation">
      <ul>
      <% @timelog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% unless @trello_service.cards.empty? %>
    <div class="form-inputs">
      <p><%= f.hidden_field :user_id, value: params[:user_id] %></p>
      <p><%= f.datetime_select :start_time, :order => [:month, :day, :year, :hour, :minute] %></p>
      <p><%= f.number_field :duration %></p>
      <p><%= f.select :trello_card, @trello_service.cards %></p>
      <p><%= f.submit "Create timelog" %></p>
    </div>
  <% else %>
    <h3>For creating new timelog user must have cards in Trello</h3>
  <% end %> 
<% end %>